* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: rgb(58, 1, 1);
}

label,
input {
  display: block;
}

label {
  margin-top: 10px;
}

button {
  background-color: white;
  /* height: 35px; */
  padding: 10px;
  border-radius: 15px;
  /* border: solid white 3px; */
  border: none;
  color: black;
  margin: 10px 0px;
}
